<div class="container" style="padding: 0">
  <div class="header" style="padding: 0">
    <nav style="background-color: #af0101;">
      <ul style="padding: 0; margin: 0">
        <li>
          <img style="max-height: 35px" src="assets/img/pokedex.png">
        </li>
        <li>
          <a  routerLink="pokemons" routerLinkActive="active" class="nav-link">Search</a>
        </li>
        <li>
          <a  routerLink="favorites" routerLinkActive="active" class="nav-link">Favorites</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="main-content">
    <!--  <app-employee-list></app-employee-list>-->
    <router-outlet></router-outlet>
  </div>

  <div class="footer">
    <span>All Rights Reserved 2020 @Game Freak</span>
  </div>
</div>






<style>

  html, body {
    margin: 0;
    height: 100%;
  }
  h5

</style>





